@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 50px;
}

#redes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#redes img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
}

#desc-pessoal {
    display: block;
    width: 80vw;
}

